$before-color:rgba(170, 170, 248, 1);
$after-color: rgba(131, 210, 255, 1);
$dark-bg:rgba(12, 18, 44, 1);
$light-bg:rgba(17, 29, 67, 1);
$font-color:rgb(160, 214, 248);
$icon-color:rgba(12, 18, 44, 1);
$gradient-color-1:rgba(170, 170, 248, 1);
$gradient-color-2:rgba(0, 163, 255, 1);

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Lato', sans-serif;
}


.main-content-2{
    display: grid;
    overflow: scroll;
}

.box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}


@for $j from 1 through 2{
    .box-#{$j}{
        height: 30vh;
        width: 100%;
        background-color: $dark-bg;
        border-radius: 0.5em;
        padding: 0.7em;
    }
}

//dropdown styling


.dropbtn {
    background-color: transparent;
    color:$after-color;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    font-weight:400;
    border: 2px solid $after-color;
    cursor: pointer;
    height: 2.5em;
    width: 19.5em;
    transition: all 300ms ease-in;
    padding: 0.5em;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(12, 18, 44, 0.5);
    min-width: 15em;
    width: 19.5em;
    height: 2.5em;
    
}

    .dropdown-content a {
        color: $dark-bg;
        padding: 0.5em;
        text-decoration: none;
        display: block;
        background-image: linear-gradient(90deg,$gradient-color-1,$gradient-color-2 );
        
    }




.dropdown:active .dropbtn {
    background-color: rgba(0,0,0,0.9);
    color: rgb(255, 255, 255);
    transition: all 400ms ease-in;
}

.fa-caret-down{
    display: inline-block;
    font-size: 1.2rem;
}

.list-item{
    display: block;
    color: $dark-bg;
    height:2.5em;
    
}


.heading-2{
    display: block;
    margin: 0.5em;
    font-size:1.3rem;
    color: rgba(240, 240, 255, 1);
    font-weight: 700;
}