* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.main-content-2 {
  display: -ms-grid;
  display: grid;
  overflow: scroll;
}

.box {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box-1 {
  height: 12em;
  width: 100%;
  background-color: #0c122c;
  border-radius: 0.5em;
  padding: 0.7em;
}

.box-2 {
  height: 12em;
  width: 100%;
  background-color: #0c122c;
  border-radius: 0.5em;
  padding: 0.7em;
}

.box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
}

.dropbtn {
  background-color: transparent;
  color: #83d2ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1em;
  font-weight: 400;
  border: 2px solid #83d2ff;
  cursor: pointer;
  height: 2.5em;
  width: 85%;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  padding: 0.5em;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-content {
  display: none;
  width: 85%;
  height: 27.5em;
  overflow: scroll;
  position: relative;
}

.dropdown-content a {
  color: #0c122c;
  padding: 0.5em;
  text-decoration: none;
  display: block;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(170, 170, 248, 0.95)), to(rgba(0, 163, 255, 0.95)));
  background-image: linear-gradient(90deg, rgba(170, 170, 248, 0.95), rgba(0, 163, 255, 0.95));
}

.dropdown:active .dropbtn {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  -webkit-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
}

.fa-caret-down {
  display: inline-block;
  font-size: 1.2rem;
}

.list-item {
  display: block;
  color: #0c122c;
  height: 2.5em;
}

.heading-2 {
  display: block;
  margin: 0.5em;
  font-size: 1.3rem;
  color: #f0f0ff;
  font-weight: 700;
}

.state-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub-heading-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em;
  color: #aaaaf8;
  font-weight: 400;
  font-size: 1.1rem;
}

.num {
  color: #c0c0f7;
}

.box-a-1, .cloned {
  height: 7em;
  background-color: rgba(17, 29, 67, 0.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.5em;
}

.distname {
  color: #83d2ff;
  padding: 0.5em 0 0.7em 0.5em;
  font-size: 1.15rem;
}
/*# sourceMappingURL=page-2.css.map */