$before-color:rgba(170, 170, 248, 1);
$after-color: rgba(131, 210, 255, 1);
$dark-bg:rgba(12, 18, 44, 1);
$light-bg:rgba(17, 29, 67, 1);
$font-color:rgb(160, 214, 248);
$icon-color:rgba(12, 18, 44, 1);
$gradient-color-1:rgba(170, 170, 248, 1);
$gradient-color-2:rgba(0, 163, 255, 1);